[Desktop Entry]
Type=Application
Name=Bitscoper Cyber ToolBox
Comment=A Flutter application consisting of IPv4 Subnet Scanner, mDNS Scanner, TCP Port Scanner, Route Tracer, Pinger, File Hash Calculator, String Hash Calculator, Base Encoder, Morse Code Translator, QR Code Generator, Open Graph Protocol Data Extractor, Series URI Crawler, DNS Record Retriever, WHOIS Retriever, and Wi-Fi Information Viewer.
Icon=Bitscoper_Cyber_ToolBox
Exec=Bitscoper_Cyber_ToolBox %u
Terminal=false
Categories=Utility;Network;